---

---

<div class="hamburger sm:hidden *:dark:bg-[#fff] pr-[20px] cursor-pointer *:block *:w-[40px] *:h-[5px] *:mb-[10px] *:bg-[#462492]">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
