---
const { platform, username } = Astro.props;
---

<a class="grid grid-cols-12 px-4 py-2 text-[#fff] bg-[#4c1d95]" href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style></style>
